<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script src="https://kit.fontawesome.com/fc33bdc8f2.js" crossorigin="anonymous"></script>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet" />
    <title>Iot Home Automation</title>
    <style>
        * {
            font-family: "Poppins";
        }
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-warning p-2">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Home Automation🏡</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mb-2 mb-lg-0 ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/about">About Us</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <img src="/img/home.png" class="img-fluid " style="margin-top: 120px;" alt="" srcset="" />
            </div>
            <div class="col-sm-6">
                <h1 class="display-3 mt-4 text-success" style="font-weight: bolder">
                    Home Automation Project
                </h1>
                <p class="lead">
                    Home Automation <br />
                    This is HomeAutomation Controlling Web Portal to Take Control Over Your
                    Home.
                </p>
                <a class="btn btn-outline-dark" href="/login">Login</a>
                <a class="btn btn-outline-success" href="/signup">Signup</a>
                <br />

                <hr />
                <div class="row mt- -1rem">
                    <div class="col-sm-6 text-center">
                        <img src="/img/cutm.png" class="img-fluid" alt="" srcset="" style="height: 60%" />
                    </div>
                    <div class="col-sm-6 text-center">
                        <p class="lead mt-4 pt-4">
                            Meet Our Team.

                            <br />
                            <a href="/about" class="btn btn-outline-success">Know about Us !</a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('./footer.ejs')%>

    <script src=" https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj"
        crossorigin="anonymous"></script>


</body>

</html>